<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mobeelizer-configuration"
    type="Com.Mobeelizer.Mobile.Wp7.Configuration.MobeelizerConfigurationSection, wp7-sdk" />
  </configSections>
  <mobeelizer-configuration>
    <properties>
      <add name="mode" value="test"/>
      <!--<add name="developmentRole" value="ddd"/>-->
      <add name="device" value="mobile"/>
      <add name="definitionAsset" value="Resources/Definitions/ModelsTest2.xml" />
      <add name="entitiesNamespace" value="wp7_sdk_unitTests.Models, wp7-sdk-unitTests" />
      <!--<add name="databaseVersion" value="1"/>-->
      <add name="mobeelizerUrl" value="ut://localhost:8080/sync"/>
    </properties>
  </mobeelizer-configuration>
</configuration>
